{% extends "blog/base.html" %}

{% block content %}
    {% if posts.count > 0 %}
        {%for post in posts%}
            <article class="media content-section">

                <img  class="rounded-circle article-img" src="{{ post.author.profile.image.url }}" alt="No Image">
                    <div class="media-body">
                    <div class="article-metadata">
                        <a class="mr-2" href="#">{{ post.author }}</a>
                        <small class="text-muted">{{ post.date_posted| date:'F,d,Y' }}</small>
                    </div>
                    <h2><a class="article-title" href="#">{{ post.title }}</a></h2>
                    <p class="article-content">{{ post.content }}</p>
                    </div>
            </article>
        {% endfor %}

    {% else %}
        <h1>There are no Posts yet</h1>
    {% endif %}
{% endblock content %}