{% extends "blog/base.html" %}
{% block content %}

<h2>You have been logged Out</h2>
<div class="border-top pt-3">
        <small class="text-muted">
             <a class="ml-2" href="{% url 'login'%}">Login Again</a>

        </small>

    </div>

{% endblock %}